[user]
	name = Tzvetan Mikov
	email = tmikov@fb.com
[merge]
	tool = kdiff3
	conflictstyle = diff3
[alias]
  lg = log --format=oneline --abbrev-commit --graph --decorate=short

[core]
	autocrlf = input
	editor = vim
